<div style="margin-top: 10px;" class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-response" style="max-width: 50%;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div style="margin-top: 10px;"  class="row">
  <div class="col-xs-12">
   <div class="btn-group" appDropdown>
     <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a style="cursor: pointer;" (click)="toShoppingList()">To shopping list</a></li>
       <!-- <li><a style="cursor: pointer;" [routerLink]="['../', recipe.id, 'edit']" >Edit Ingredients</a></li> -->
       <li><a style="cursor: pointer;" (click)="onRecipeEdit()" >Edit Ingredients</a></li>
       <li><a style="cursor: pointer;">Delete Ingredients</a></li>
     </ul>
   </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li style="cursor: pointer;" class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} <span class="badge">{{ingredient.amount}}</span>
          </li>
        </ul>
      </div>
    </div>
